body, img, #main_window { height:100%; width:100%; margin:0; }
a{text-decoration: blink; color:#000;}
li { display: block; }
input { -webkit-appearance: slider-vertical; width: 68%; height: 80%; }
ul { margin:0; padding:0; }
#main_window, #main_window div { position:absolute; }
#main_window.window_1920X1080px { height:1080px; width:1920px; }
#main_window.window_960X540px { height:540px; width:960px; }
#headerbox { width:100%; height:80px; z-index:100; top:-40px; }
#main_window #headerbox.on_click { top:0; }
#main_window #hidden_menu { height:100%; width:100%; z-index:99; }
#set_box { width:100%; z-index:101; cursor: pointer; }
#header { width:100%; height:40px; background:#FFF; }
#headerbox:hover { top:0; cursor: pointer; }
#header li { height: 40px; min-width: 50px; position: relative; float: left; text-align: center; line-height: 40px; padding: 0 10px 0 10px; }
#header li:hover { background:#A0BEC9; }
#set_box div { top: 40px; min-width: 140px; background: #F2EEED; box-shadow: 0 0 2px #AEA4A9; }
#set_box li, #set_box span { height:40px; line-height: 40px; }
#set_box li:hover, #set_box .select { background: #82B2DB; }
#set_box label { height: 40px; width: 40px; float: left; }
#set_box li:hover .select { background:red; }
#set_box .select { }
#set_box span { height:100%; width:100%; text-overflow:ellipsis }
#set_window_box { }
#set_font_box { left:70px; }
#set_form_box { left:140px; }
#set_speed_box { left:225px; }
#set_volume_box { left:310px; }
#main_window #set_select { position: relative; }
#main_window #set_box div { display:none; }
#main_window #set_box .on_set { display:block; }
#show_box .show_box div { display:block; }
#main_window.window_1920X1080px #start_menu div { font-size: 60px; }
#main_window.window_960X540px #start_menu div, #main_window #start_menu div { font-size: 30px; }
#main_window #start_menu { z-index:10; height: 100%; width: 100%; background:url(source/login.jpg); background-size:100%; }
#main_window #start_menu div, #main_window #right_menu div { position: relative; margin-bottom: 2%; top: 40%; left: 40%; height: 6%; width: 310px; line-height: 6%; cursor: pointer; }
#main_window #start_menu div:hover { color:#CF0 }
#main_window #start_menu div:hover a{color:#CF0}
#to_exit a,#set_box a{ color:#0F1010; text-decoration: blink; cursor: auto; }
#img_box { z-index:1; height:100%; width:100% }
#show_box #cg_box { z-index:1; height:100%; width:100%; display:block; }
#next_img { z-index:2; height:100%; width:100% }
#load_save_box { z-index:1; height:100%; width:100% }
#show_box { z-index:1; height:100%; width:100%; }
#show_box div { display:none; height:100%; width:100%; }
#show_box .show_box { display:block; z-index:1000; }
#sound_box { display:none; }
#show_box #text_box { z-index:100; background: #1A1C1C; opacity: 0.5; top: 75%; height: 25%; }
#show_box #text_box div { opacity:1; color:#FFF; }
#main_window #right_menu { font-weight: 900; z-index:1000; height:100%; width:100%; background: rgba(194, 191, 191, 0.5980392); }
#main_window #right_menu div { top: 29%; margin-bottom: 0%; }
#main_window #right_menu div:hover { color:#CF0 }
#click_box .show_box { z-index:1000; display:block; height:100%; width:100%; }
#main_window #volume .content div { width: 33%; height: 90%; position: relative; float: left; }
#main_window #volume div { position:relative; }
#start_game { }
#load_save { }
#close_game { }
#save { }
#load { }
#tostart { }
#end { }
#volume { z-index:100; height: 33%; width: 14%; left: 1%; background: #E7EDEB; text-align: center; }
.title { width:100%; height:10%; border-bottom: 1px inset #15182A; }
.title label { display: inline-block; width: 80%; }
.title a { float: right; text-decoration: blink; font-size: 10%; width: 20%; }
.title a:hover { color:red; }
.content { width:100%; height:90%; }


.cg_0,.cg_1,.cg_6  { -webkit-animation: flip_top 1.1s 1 linear forwards;}
.cg_2,.cg_3,.cg_4,.cg_5,.cg_7,.cg_8,.cg_9,.cg_10{ -webkit-animation: opacity_out 1.1s 1 linear forwards;}
.cg_11 { -webkit-animation: flip_top 0.9s1 linear; }
@-webkit-keyframes opacity_in {  0% {opacity:0;} 100% {opacity:1;}}
@-webkit-keyframes opacity_out{  0% {opacity:1;} 100% {opacity:0;}}
@-webkit-keyframes flip_top   {100% {transform-origin:top;-webkit-transform: rotateX(90deg);}}
